@use "nav";
@use "body";
@use "footer";
@use "index";
@use "menu";
@use "localizar";
@use "cafe";
@use "mixings";
@use "variables";

*{
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.texto {
    background-color: $color-principal;
    padding: 12px;
    font-size: 1.2rem;
    text-align: justify;
}

.imagen {
    max-width: 100%;
    height: auto;
    padding-top: 20px;
    
}
