//variables
$color-principal: rgb(241, 205, 83);
$color-hover: rgb(85, 65, 20);


//mixings
@mixin font_adjust{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
} 

@mixin tittle_adjust{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

*{
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.texto {
    background-color: $color-principal;
    padding: 12px;
    font-size: 1.2rem;
    text-align: justify;
}

.imagen {
    max-width: 100%;
    height: auto;
    padding-top: 20px;
    
}


nav {
    background-color: #000000;
    color: #ffc476;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
  }
  
  nav label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #f3efef;
    text-decoration: none;
    font-size: 20px;
  }

  .textnav:hover{
    background-color: $color-hover;
  }
  
  @media (max-width: 768px) {
    nav label {
      display: block;
    }
    nav ul {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
    }
    nav ul li {
      width: 100%;
      text-align: center;
      margin: 10px 0;
    }
    nav ul li a {
      padding: 10px 0;
      display: block;
      border-bottom: 1px solid #fff;
    }
    #btn-menu:checked ~ ul {
      display: flex;
      flex-direction: column;
    }
  }
  

.iniciologo{
    width: 55px;
    height: 55px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.check{
    display: none;
}
    

/*body*/
.imgcontainer{
  display: flex;
  flex-direction: row;
}

.wallpaper{
    width: 1348px;
    height: 600px;
}

.texto{
    @include font_adjust()
}

.drivetext{
    @include tittle_adjust()
}

@media screen and (max-width: 767px) {
    .wallpaper{
      width: 1200px;
      height: 400px;
      padding-right: 500px;
    }

}

.tiendatext{
    @include tittle_adjust()
}

/*footer*/
footer {
    background-color: #805832;
    padding: 40px 0;
  }
  
.footercontainer{
  display: flex;
  justify-content: center;
  gap: 40px;
}

footer p{
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.whatsapp:hover{
  background-color: $color-principal;
  width: 60px;
  height: 60px;
}

.instagram:hover{
  background-color: $color-principal;
  width: 60px;
  height: 60px;
}
  
.gmail:hover{
  background-color: $color-principal;
  width: 60px;
  height: 60px;
}

  /* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    footer {
      padding: 20px 0;
    }
    
    .col-md-6 {
      flex-basis: 100%;
      margin-top: 20px;
    }
    
    .social-icons {
      justify-content: center;
    }
  }
  
  /* Estilos para pantallas medianas y grandes */
  @media screen and (min-width: 768px) {
    .row {
      justify-content: space-between;
    }
    
    .col-md-6 {
      flex-basis: auto;
      margin-top: 0;
    }
  }
  
/*Cards menú*/
.cardslist{
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #f5ee93;
}

.card-body{
  background-color: #ffc476;
}

/*cafe*/
.cafetittle{
  display: flex;
  justify-content: center;
  background-color: #ffc476;
  padding-top: 10px;
  font-size: 70px;
}

.cafetext{
  display: flex;
  justify-content: center;
}

.cafetext2{
  display: flex;
  padding-left: 30px;
}

.cafewallpaper{
  width: 1000px;
  height: 400px;
  padding-left: 400px;
}

.cafeservido{
  width: 1000px;
  height: 400px;
  padding-left: 400px;
  padding-bottom: 50px;
}

body p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 767px) {
  .cafewallpaper{
    width: 500px;
    height: 300px;
    padding-left: 120px;
  }

  .cafeservido{
    width: 500px;
    height: 250px;
    padding-left: 100px;
  }
}

//experiencia//
.imagen-drive{
  width: 600px;
  padding-left: 20px;
}

.imagen-delivery{
  width: 700px;
}

@media screen and (max-width: 767px) {
  .texto{
    width: 500px;
    height: 150px;
    margin: 20px;
  }

  body div p{
    font-size: 15px;
  }

  .imagen{
    display: none;
  }

  .imagen-drive{
    display: none;
   }
  .imagen-delivery{
    display: none;
   }
    }

//localizar tienda//
.maps{
  padding-left: 100px;
}